src/state_machines/research_data_pipeline.json
{
  "Comment": "Process Scientific Equipments' data",
  "StartAt": "Clean the data",
  "States": {
    "Clean the data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-south-1:499233586819:function:cleanRawDataFunction",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Check if observations exist"
    },
    "Check if observations exist": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.number_of_observations",
          "NumericLessThanEquals": 0,
          "Next": "Do Nothing"
        }
      ],
      "Default": "Create and Process Batches"
    },
    "Do Nothing": {
      "Type": "Pass",
      "End": true
    },
    "Create and Process Batches": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Process Observations",
        "States": {
          "Process Observations": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "FunctionName": "arn:aws:lambda:ap-south-1:499233586819:function:processObservationsFunction",
              "Payload.$": "$"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "ItemsPath": "$.observations",
      "Next": "Pass",
      "MaxConcurrency": 100
    },
    "Pass": {
      "Type": "Pass",
      "Next": "Deliver Alerts"
    },
    "Deliver Alerts": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Publish SNS Message",
        "States": {
          "Publish SNS Message": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
              "Message.$": "$",
              "TopicArn": "arn:aws:sns:ap-south-1:499233586819:Test_SNS_Topic"
            },
            "End": true
          }
        }
      },
      "ItemsPath": "$.qualified_observations",
      "End": true
    }
  }
}